<div class="mt-8 flex-grow flex flex-col items-center justify-center gap-10">
  <h1 class="text-4xl">Logowanie</h1>
  <form class="flex mt-6 gap-10 justify-center items-center flex-col">
    <mat-form-field appearance="outline">
      <mat-label> Email </mat-label>
      <input matInput />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label> Password </mat-label>
      <input matInput />
    </mat-form-field>

    <button
      type="submit"
      class="rounded-full primary-gradient text-white px-8 py-4 font-semibold text-xl duration-300">
      Zaloguj
    </button>
  </form>
  <span class="flex flex-col gap-6 sm:flex-row sm:items-center">
    Nie masz jeszcze konta?

    <a routerLink="/register">
      <button
        type="button"
        class="rounded-full primary-gradient text-white px-4 py-3 font-semibold text-sm duration-300 mx-auto block">
        Zarejestruj się
      </button>
    </a>
  </span>
</div>
