<form class="mt-10 flex flex-col gap-5 md:flex-grow md:flex-row">
  <div class="flex flex-col flex-1 gap-10">
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input type="text" matInput />
      <mat-error> required </mat-error>
    </mat-form-field>
    <div class="flex flex-grow flex-1">
      <quill-editor></quill-editor>
    </div>
  </div>
  <div class="flex flex-col">
    <div class="flex flex-col gap-3">
      <h1 class="text-xl font-semibold">Publish Post</h1>
      <!--      <p class="font-semibold">-->
      <!--        Status:-->
      <!--        <span class="ml-2 text-blue-400"> Draft </span>-->
      <!--      </p>-->
      <!--      <p class="font-semibold">-->
      <!--        Visibility:-->
      <!--        <span class="ml-2 text-blue-400"> Public </span>-->
      <!--      </p>-->

      <label
        class="rounded-full px-5 py-2 text-blue-400 border-blue-400 border text-base hover:bg-blue-400 hover:text-white transition duration-300 cursor-pointer"
        for="file">
        <input type="file" name="Chose file" id="file" class="cursor-pointer" />
      </label>
      <div class="flex gap-2">
        <!--        <button-->
        <!--          type="button"-->
        <!--          class="rounded-full px-5 py-2 text-blue-400 border-blue-400 border text-base hover:bg-blue-400 hover:text-white transition duration-300">-->
        <!--          Save as draft-->
        <!--        </button>-->
        <button
          type="button"
          class="rounded-full px-5 py-2 text-blue-400 border-blue-400 border text-base hover:bg-blue-400 hover:text-white transition duration-300"
          (click)="onPostPublish()">
          Publish
        </button>
      </div>
    </div>
    <div class="flex flex-col gap-1 mt-4">
      <h1 class="font-semibold text-xl mb-2">Category</h1>
      <mat-radio-group name="category">
        <mat-radio-button value="React" class="" color="primary"
          >React</mat-radio-button
        >
        <mat-radio-button value="Vanilla JavaScript" class="block mt-2"
          >Vanilla JavaScript</mat-radio-button
        >
        <mat-radio-button value="Node.js" class="block mt-2"
          >Node.js</mat-radio-button
        >
        <mat-radio-button value="Express" class="block mt-2"
          >Express</mat-radio-button
        >
        <mat-radio-button value="TypeScript" class="block mt-2"
          >TypeScript</mat-radio-button
        >
        <mat-radio-button value="NestJS" class="block mt-2"
          >NestJS</mat-radio-button
        >
        <mat-radio-button value="Other" class="block mt-2"
          >Other</mat-radio-button
        >
      </mat-radio-group>
    </div>
  </div>
</form>
