@if (post$ | async; as post) {
  <div class="flex gap-5 flex-col xl:flex-row">
    <img
      [src]="'https://nest-blog.truemuniox.usermd.net/post/image/' + post.img"
      alt="główny obraz"
      class="order-1 xl:order-2" />
    <div class="xl:order-1 order-2 flex-grow">
      <div
        class="flex sm:flex-row gap-3 sm:gap-5 sm:text-xl sm:items-center font-bold">
        <img
          src="assets/default_author.svg"
          alt="zdjęcie autora postu"
          class="max-w-[60px]" />
        <div class="flex flex-col">
          <p>
            Autor:
            <span class="text-blue-400 ml-2">{{ post.user.username }}</span>
          </p>
          <p>
            Opublikowano:
            <span class="text-blue-400 ml-2">{{ post.createdAt }}</span>
          </p>
        </div>
      </div>
      <h1 class="text-xl md:text-5xl my-10 font-semibold hidden xl:block">
        {{ post.title }}
      </h1>
      <!--      {currentUser-->
      <!--            ? currentUser.name === post.author && (-->
      <!--              <div className="flex gap-10 mt-10">-->
      <!--                <Link to={`/write?edit=${post.id}`} state={post}>-->
      <!--                  <img src={Edit} alt="Edit" />-->
      <!--                  Edytuj-->
      <!--                </Link>-->
      <!--                <button-->
      <!--                  type="button"-->
      <!--                  onClick={handleDelete}-->
      <!--      >-->
      <!--        <img-->
      <!--          src={Delete}-->
      <!--      alt="Delete"-->
      <!--    />-->
      <!--    Usuń-->
      <!--  </button>-->
      <!--</div>-->
      <!--)-->
      <!--: null}-->
    </div>
  </div>
  <div>
    <h1 class="text-xl md:text-5xl mt-10 font-semibold xl:hidden">
      {{ post.title }}
    </h1>
    <div
      class="post-single mt-10"
      [innerHTML]="sanitizeDescription(post.description)"></div>
  </div>
} @else {
  <div>brak posta</div>
}
