<div class="mt-8 flex-grow flex flex-col items-center justify-center gap-5">
  <h1 class="text-4xl">{{ isLoginMode ? 'Logowanie' : 'Rejestracja' }}</h1>
  <form
    [formGroup]="authForm"
    class="flex mt-6 gap-5 justify-center items-center flex-col"
    (ngSubmit)="onSubmit()">
    @if (!isLoginMode) {
      <mat-form-field appearance="outline">
        <mat-label> Username </mat-label>
        <input matInput formControlName="username" />
        <mat-error> required </mat-error>
      </mat-form-field>
    }

    <mat-form-field appearance="outline">
      <mat-label> Email </mat-label>
      <input matInput formControlName="email" />
      @if (authForm.controls.email.errors?.required) {
        <mat-error> required </mat-error>
      }
      @if (authForm.controls.email.errors?.email) {
        <mat-error> not valid email </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label> Password </mat-label>
      <input matInput formControlName="password" />
      <mat-error> required </mat-error>
    </mat-form-field>

    <button
      type="submit"
      class="rounded-full primary-gradient text-white px-8 py-4 font-semibold text-xl duration-300"
      [disabled]="!authForm.valid">
      {{ isLoginMode ? 'Zaloguj' : 'Zarejestruj' }}
    </button>
  </form>
  <span class="flex flex-col gap-6 sm:flex-row sm:items-center">
    {{ isLoginMode ? 'Nie masz jeszcze konta?' : 'Czy masz już swoje konto?' }}

    <button
      type="button"
      class="rounded-full primary-gradient text-white px-4 py-3 font-semibold text-sm duration-300 block mx-auto"
      (click)="changeMode()">
      {{ isLoginMode ? 'Zarejestruj się' : 'Logowanie' }}
    </button>
    @if (isLoginMode) {
      or
      <button
        type="button"
        class="rounded-full primary-gradient text-white px-4 py-3 font-semibold text-sm duration-300 block mx-auto"
        (click)="loginAsTestUser()">
        login as test user
      </button>
      or
      <button
        type="button"
        class="rounded-full primary-gradient text-white px-4 py-3 font-semibold text-sm duration-300 block mx-auto"
        (click)="loginAsTestAdmin()">
        login as test admin
      </button>
    }
  </span>
</div>
