<nav class="relative flex place-content-between mt-5">
  <img
    src="assets/logo.svg"
    alt="Logo JS DOSE - Your Daily Dose of JS"
    class="w-40 md:w-[220px]" />
  <ul class="hidden md:flex gap-8 md:gap-1 text-xl font-semibold leading-10">
    <li>
      <a routerLink="/about" class="block px-3 py-0.5 hover:text-blue-400"
        >O nas</a
      >
    </li>
    <li>
      <a routerLink="/" class="block px-3 py-0.5 hover:text-blue-400">Blog</a>
    </li>
    <li>
      <a routerLink="/contact" class="block px-3 py-0.5 hover:text-blue-400"
        >Kontakt</a
      >
    </li>

    <li>
      <a routerLink="/write" class="block px-3 py-0.5 hover:text-blue-400"
        >Utwórz post</a
      >
    </li>

    <li
      class="block px-3 py-0.5 text-blue-400 underline-offset-4 underline"></li>
    <li>
      <a routerLink="/" class="block px-3 py-0.5 hover:text-blue-400">
        Wyloguj
      </a>
    </li>
    <li>
      <a
        routerLink="/auth"
        [queryParams]="{ isLoginMode: true }"
        class="block px-3 py-0.5 hover:text-blue-400">
        Logowanie
      </a>
    </li>
  </ul>
  <!--  <Sidebar />-->
</nav>
