<div class="mt-8 flex-grow flex flex-col items-center justify-center gap-5">
  <h1 class="text-4xl">Rejestracja</h1>
  <form
    [formGroup]="registerForm"
    class="flex mt-6 gap-5 justify-center items-center flex-col"
    (ngSubmit)="registerUser()">
    <mat-form-field appearance="outline">
      <mat-label> Username </mat-label>
      <input matInput formControlName="username" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label> Email </mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label> Password </mat-label>
      <input matInput />
    </mat-form-field>

    <p class="text-sm font-light text-center">
      * hasło powinno mieć długość 8 znaków oraz składać się z jednej cyfry i
      znaku specjalnego
    </p>

    <button
      type="submit"
      class="rounded-full primary-gradient text-white px-8 py-4 font-semibold text-xl duration-300">
      Zarejestruj
    </button>
  </form>
  <span class="flex flex-col gap-6 sm:flex-row sm:items-center">
    Czy masz już swoje konto?

    <a routerLink="/login">
      <button
        type="button"
        class="rounded-full primary-gradient text-white px-4 py-3 font-semibold text-sm duration-300 block mx-auto">
        Logowanie
      </button>
    </a>
  </span>
</div>
