<app-header />
<main class="mt-12 flex-grow" id="menu">
  <form class="relative max-w-min mx-auto md:ml-auto md:mr-0 mt-5">
    <input
      type="text"
      placeholder="szukaj tematu"
      class="w-48 md:w-64 shadow-sm rounded-full bg-gray-200 placeholder:text-gray-500 pr-14 pl-5 border-0" />
    <button type="button" class="absolute top-1/2 right-4 -translate-y-1/2">
      <img
        ngSrc="assets/glass.svg"
        alt="szkło powiększające"
        class="w-7"
        width="28"
        height="25" />
    </button>
  </form>
  <app-post />
</main>
